Django==5.1.4
opentelemetry-sdk==1.29.0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-instrumentation-django==0.48b0
opentelemetry-instrumentation-wsgi==0.48b0
opentelemetry-distro==0.48b0
opentelemetry-semantic-conventions==0.48b0
django-debug-toolbar
psycopg2